<td>
  <span><%= model.name %></span>
</td>
<td><%= model.path %></td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :nav, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
