<main class="container">
  <div class="mb-3">
    <%= render 'breadcrumb' %>
  </div>
  <div class="columns mb-0">
    <div class="column is-narrow" style="width: 260px;">
      <%= render 'nav' %>
    </div>
    <div class="column">
      <%= yield %>
    </div>
  </div>
</main>