<div class="grid">
  <%= link_to({ controller: 'markdown/panel/gits' }, data: { turbo_frame: 'panel', action: 'menu-popup#enter' }, class: 'cell button is-fullwidth') do %>
    <span><%= t('markdown.panel.gits.index.title') %></span>
  <% end %>
</div>
